.wrapper {
    position: relative;
    padding-top: 180px;
    padding-bottom: 200px;
    background-image: url('../assets/img/gathering.webp');
    background-size: cover;
    background-position: center;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}

.inner {
    position: relative;
    z-index: 1;
}

.title {
    font-weight: 800;
    font-size: 60px;
    letter-spacing: -1px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    font-family: Greycliff CF, var(--mantine-font-family);

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
    }
}

.highlight {
    color: var(--mantine-color-blue-5);
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.input {
    background-color: var(--mantine-color-white);

    @mixin dark {
        color: var(--mantine-color-dark-text);
    }
}