/* HomePageHero.module.css */

.wrapper {
    position: relative;
    min-height: 100vh;
    background-image: url('../assets/img/gathering2jpg.jpeg');
    background-size: cover;
    background-position: center;
    box-shadow: var(--mantine-shadow-xl);
    padding-top: 180px;
    padding-bottom: 100px;

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}

.inner {
    position: relative;
    z-index: 1;

}

.title {
    font-weight: 800;
    font-size: 60px;
    letter-spacing: -1px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: 28px;
    }
}

.highlight {
    color: transparent;
    background-clip: text;

    @mixin dark {
        background-image: linear-gradient(125deg, rgba(0, 129, 167, 1) 0%, rgba(0, 175, 185, 1) 22%, rgba(253, 252, 220, 1) 45%, rgba(254, 217, 183, 1) 70%, rgba(240, 113, 103, 1) 100%);
    }

    @mixin light {
        background-image: linear-gradient(125deg, rgba(247, 37, 133, 1) 0%, rgba(114, 9, 183, 1) 25%, rgba(58, 12, 163, 1) 50%, rgba(67, 97, 238, 1) 75%, rgba(76, 201, 240, 1) 100%);
    }
}

.description {
    color: var(--mantine-color-gray-0);
    text-align: center;

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: var(--mantine-font-size-md);
    }
}

.controls {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column;
    }
}

.input {
    background-color: var(--mantine-color-white);

    @mixin dark {
        color: var(--mantine-color-dark-text);
    }
}
